<div class="dropdown">
  <button class="btn btn-outline-light btn-sm dropdown-toggle" type="button" 
          data-bs-toggle="dropdown" aria-expanded="false" 
          id="languageDropdown">
    <i class="bi bi-translate me-1"></i>
    {{ getCurrentLanguageLabel() }}
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
    <li>
      <a class="dropdown-item" href="#" (click)="switchLanguage('fr', $event)" 
         [class.active]="currentLocale === 'fr'">
        <img src="../../../assets/img/fr.png" height="20" alt="French Flag"/> Français
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#" (click)="switchLanguage('en', $event)"
         [class.active]="currentLocale === 'en'">
        <img src="../../../assets/img/gb.png" height="20" alt="GB Flag"/> English
      </a>
    </li>
  </ul>
</div>